body {
  container: 1300px;
  background-color: white;
}
h2 {
  text-align: center;
  background-color: black;
  color: aliceblue;
}
a {
  color: black;
}
table {
  width: 100%;
}
tr {
  text-align: center;
}
th {
  color: white;
  background-color: black;
}
